/* Contact section */
.contact-section {
  padding: 2rem;
  background-color: #582426;
}

.contact-title {
  color: #f3e3cb;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-card-details{
  display: flex;
  justify-content: space-evenly;
}
/* Contact card container */
.contact-card {
  background-color: #f3e3cb;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact heading */
.contact-heading {
  margin-top: 0;
  color: #582426;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Contact detail links */
.contact-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.contact-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

svg {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  fill: #582426;
}

svg:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}
